<div class="content">
    <h3>Guardar Articulos</h3>
    <form role="form" ng-submit="saveElement()">
        <div class="form_element" ng-include="'views/inventory/form.html'" ></div>
    </form>
    
    <div class="buttons">
        <a href="" ng-href="#/inventory/">Cancelar</a>&nbsp;
    </div>
</div>