<label>Nombre: </label> <input name="nombre" type="text" id="nameInventory" class="" value="" ng-model="gymInventory.nombre"/><br>
<label>Descripcion: </label> <input name="descripcion" id="descriptionInventory" type="text" class="" value="" ng-model="gymInventory.descripcion" /><br>
<label>Febricante: </label> <input name="fabricante" type="text" class="" id="ownerInventory" value="" ng-model="gymInventory.fabricante" /><br>
<label>Fecha de Compra: </label> <input name="fecha_compra" type="text" id="dateBuyInventory" class="" value="" ng-model="gymInventory.fecha_compra"/><br>
<label>Precio: </label> <input name="precio" type="text" id="priceInventory" class="" value="" ng-model="gymInventory.precio" /><br>
<label>Fecha de ingreso al gimnasio: </label> <input name="fecha_ingreso_gym" type="text" id="beginDateInventory" class="" value="" ng-model="gymInventory.fecha_ingreso_gym" /><br>
<input type="submit" class="btn btn-primary" value="Guardar"/>