<div class="content">

    <div class="elements_content">
        <h2>Lista de elementos</h2><br>
        <a href="" ng-href="#/inventory/new" >Nuevo Elemento</a><br>
        <br>
        <table border="solid">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Descripcion</td>
                <td>Fabricante</td>
                <td>Precio</td>
                <td>Fecha de Compra</td>
                <td>Fecha de ingreso al gimnasio</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="itemsInventory in inventory_list">
                <td>{{itemsInventory.nombre}}</td>
                <td>{{itemsInventory.descripcion}}</td>
                <td>{{itemsInventory.fabricante}}</td>
                <td>{{itemsInventory.precio}}</td>
                <td>{{itemsInventory.fecha_compra}}</td>
                <td>{{itemsInventory.fecha_ingreso_gym}}</td>
                <td><a href="" ng-href="#/inventory/{{itemsInventory.id}}/update" >Editar</a>&nbsp;<a href="" ng-click="deleteElement(itemsInventory.id)">Eliminar</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <!--<form ng-submit="editElement()">
        <div class="editElement"></div>
    </form>-->
</div>



