<div class="content">
    <h3>Editar Articulo</h3>
    <form role="form" ng-submit="editElement()">
        <div class="form_element" ng-include="'views/inventory/form.html'" ></div>
    </form>
</div>
<div class="buttons">
	<a href="" ng-href="#/inventory/">Cancelar</a>&nbsp;
	<a href="" ng-href="#/inventory/new">Nuevo</a>&nbsp;
</div>