<div class="new_article">
	<label>Nombre: </label>&nbsp;<label>{{gymInventory.nombre}}</label><br>
	<label>Descripcion: </label>&nbsp;<label>{{gymInventory.descripcion}}</label><br>
	<label>Febricante: </label>&nbsp;<label>{{gymInventory.fabricante}}</label><br>
	<label>Fecha de Compra: </label>&nbsp;<label>{{gymInventory.fecha_compra}}</label><br>
	<label>Precio: </label>&nbsp;<label>{{gymInventory.precio}}</label><br>
	<label>Fecha de ingreso al gimnasio: </label>&nbsp;<label>{{gymInventory.fecha_ingreso_gym}}</label><br>
</div>
<div class="buttons">
	<a href="" ng-href="#/inventory/">Volver</a>&nbsp;
	<a href="" ng-href="#/inventory/{{gymInventory.id}}/update">Editar</a>&nbsp;
	<a href="" ng-href="#/inventory/new">Nuevo</a>&nbsp;
</div>