<div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  	<div flex = '70'>
  		<div ng-cloak>
		  <md-toolbar class="md-theme-ligth">
			  <div class="acerca-title">
			  	<h2 class="md-toolbar-tools">
			    	<div class="md-list-item-inner">
				    	<img src="assets/images/iconos/acercaDe.png" class="md-avatar" alt="Acerca de SIMM" width="10%"/>
				      	<span><b>Acerca de SIMM</b></span>
			      	</div>
			    </h2>
			  </div>
		  </md-toolbar>
		  <md-content>
		  	<div layout="row" flex layout-align="center center">
			  <div layout="column" flex layout-align="center">
			   <p class='class-alineacion-justificada'>El Sistema Ministerial Multimedia (SiMM), es una versátil plataforma online desarrollada para crear un banco unificado de documentación fotográfica sobre las políticas del Ministerio de Planificación Federal, Inversión Pública y Servicios, imágenes de eventos, obras o presentaciones. Esta permitirá al equipo de fotógrafos del MinPlan subir imágenes, etiquetarlas para optimizar su posterior búsqueda y buscar aquellas que ya fueron subidas y etiquetadas.</p>
			  </div>		 
			</div><br><br>
		  	<div layout="row" flex layout-align="center center">
			  <div layout="column" flex layout-align="center center">
				 <img src="assets/images/iconos/responsive.png" alt="Iniciar Sesión" width="40%" />    
			  </div>
			  <div layout="column" flex layout-align="center center">
			  	<img src="assets/images/iconos/search.png" alt="Buscar fotos" width="25%" />	  
			  </div>
			  <div layout="column" flex layout-align="center center">
			  	<img src="assets/images/iconos/phone.png" alt="Compartir" width="15%" />	  
			  </div>
  			  <div layout="column" flex layout-align="center center">
			  	<img src="assets/images/iconos/compartir.png" alt="Compartir" width="20%" />	  
			  </div>
			</div>
		    <div layout="row" flex layout-align="center center">
	    		<div layout="column" flex layout-align="center">
				   <p class='text-center text-cuerpo-acerca'>Accedé a través cualquier explorador web, desde una PC, tablet, celular, o cualquier dispositivo que disponga de una conexión a internet.</p>
			  	</div>
			    <div layout="column" flex layout-align="center">
				   <p class='text-center text-cuerpo-acerca'>Utilizá el buscador del SiMM introduciendo las palabras clave, seleccioná los resultados que se ajusten al criterio de tu búsqueda.</p>
			    </div>
			    <div layout="column" flex layout-align="center">
				    <p class='text-center text-cuerpo-acerca'>Guardá las fotos en tu tablero personalizado, en tu PC o dispositivo móvil.</p> 
			    </div>
			    <div layout="column" flex layout-align="center">
				    <p class='text-center text-cuerpo-acerca'>Compartilas con tus contactos a través de redes sociales o por correo electrónico.</p>
			    </div>
			</div>
		  </md-content>
		</div>
	</div>
	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</div>