

<div  ng-controller="LoginController as vm" class="class-carousel"> 
	<!--<md-toolbar layout="row">
	    <div class="md-toolbar-tools">
	      <md-button ng-click="vm.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
	        <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
	        </md-icon>
	      </md-button>
	      <h1>Angular Material: &nbsp; Starter CodePen </h1>
	    </div>
	</md-toolbar>
	<div layout="row" flex>
	    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
	      <md-button class="md-accent">Button 1</md-button>
	      <md-button class="md-accent">Button 2</md-button>
	    </md-sidenav>
	    <div layout="column" flex id="content">
	      <md-content layout="column" flex class="md-padding">
	        This Starter Application consists of a Toolbar, SideNav (with two buttons), and Content area.
	        <p>This is the content area! </p>
		
	      </md-content>
	    </div>
	</div>
-->
<div class="container">
	<div layout="row">
		<div flex="100">
 			<div class="carousel-demo">
				<ul class="carousel5 ng-scope" rn-carousel="" rn-carousel-controls rn-carousel-index="carouselIndex">
				  <li><div class="form_element" ng-include="'views/login/slide1.html'" ></div></li>
				  <li><div class="form_element" ng-include="'views/login/slide2.html'" ></div></li>
				  <li><div class="form_element" ng-include="'views/login/slide3.html'" ></div></li>
				  <li><div class="form_element" ng-include="'views/login/slide4.html'" ></div></li>
				  <li><div class="form_element" ng-include="'views/login/slide5.html'" ></div></li>
				</ul>	
			</div> 
			<div rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="carouselIndex"></div>
		</div>
	</div>
</div>

