<div class="container">
  <div layout="row">
    <div flex="100">
      <div class="class-carousel">
        <div layout="row" flex layout-align="center center">
          <div layout="column" flex layout-align="center center">
            <img src="assets/images/usuario.png" alt="usuario" width="10%" />
          </div>
        </div><br>
        <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <div flex="60">
            <form ng-model="user" ng-submit="registrarUser()">
              <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <div flex layout="column">
                    <div class="form-group input-register" ng-class="{ 'has-error' : regForm.email.$invalid }">
                      <label>Nombre</label>
                      <input type="text" name="nombre" class="form-control" ng-model="user.nombre">
                      <p class="help-block" ng-show="regForm.email.$invalid"></p>
                    </div>
                </div>
                <div flex layout="column">
                    <div class="form-group input-register" ng-class="{ 'has-error' : regForm.email.$invalid }">
                      <label>Apellido</label>
                      <input type="text" name="nombre" class="form-control" ng-model="user.apellido">
                      <p class="help-block" ng-show="regForm.email.$invalid"></p>
                    </div>
                </div>
              </div>
              <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <div flex layout="column">
                    <div class="form-group input-emai-register" ng-class="{ 'has-error' : regForm.email.$invalid }">
                      <label>Correo electrónico</label>
                      <input type="email" name="email" class="form-control" ng-model="user.email">
                      <p class="help-block" ng-show="regForm.email.$invalid"></p>
                    </div>
                </div>
              </div>
              <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <div flex layout="column">
                    <div class="form-group input-register" ng-class="{ 'has-error' : regForm.email.$invalid }">
                      <label>Contraseña</label>
                      <input type="password" name="password" class="form-control" ng-model="user.nombre">
                      <p class="help-block" ng-show="regForm.email.$invalid"></p>
                    </div>
                </div>
                <div flex layout="column">
                    <div class="form-group input-register" ng-class="{ 'has-error' : regForm.email.$invalid }">
                      <label>Repetir contraseña</label>
                      <input type="password" name="passtord_repeat" class="form-control" ng-model="user.apellido">
                      <p class="help-block" ng-show="regForm.email.$invalid"></p>
                    </div>
                </div>
              </div>
        		    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        		    	<md-button class="md-raised md-primary">Registrarse</md-button>
        		    </section>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>