<div layout="row" flex layout-align="center center">
  <div layout="column" flex layout-align="center center">
	 <img src="assets/images/galeria.png" alt="Galeria" width="80%" />   
  </div>
</div>
<div layout="row" flex layout-align="center center">
  <div layout="column" flex layout-align="center center">
    	<p class='texto-titulo-login'>Algunas de las imágenes a descargar</p>
    	<p class='texto-cuerpo-login text-center class-maximo-width-50'>Vas a poder descargar imágenes de de todo tipo, de las distintas políticas del MinPlan, disponibles en tres resoluciones: baja (72 dpi), media (150 dpi), y alta (300 dpi). De igual forma, las vas a encontrar en distintos tamaños.</p>
  </div>
</div>