<div layout="row" flex layout-align="center center">
  <div flex="50" layout="column" layout-align="center center">
    	<img src="assets/images/celular.png" alt="Monitor" width="65%" />
  </div>
  <div flex="50" layout="column" layout-align="center left">
    <p class='texto-titulo-login'>Accedé desde</p>
    <p class='texto-titulo-login'> cualquier dispositivo</p>
    <p class='texto-cuerpo-login'>Accedé al Sistema Ministerial Multimedia desde el navegador de cualquier dispositivo. Su interfaz intuitiva y ágil te va a permitir ingresar, tanto desde tu computadora, como desde una tablet o celular. Las imágenes se adaptarán a la resolución de la que dispongas.</p>
  </div>
  
</div>

