<!-- <div layout="column">
  <div flex layout-align="center">
  	<img src="assets/images/monitor.png" alt="Monitor" width="30%" />
  </div>
  <div flex>Second item in column</div>
</div>  item in column</div-->
<div layout="row" flex layout-align="center center">
  <div layout="column" flex layout-align="center center">
    <img src="assets/images/usuario.png" alt="usuario" width="15%" />
  </div>
</div>
<div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  <div flex="60">
    <form ng-model="user" ng-submit="loginUser()">
    		<div class="form-group" ng-class="{ 'has-error' : regForm.email.$invalid }">
                <label>Usuario</label>
                <input type="email" name="email" class="form-control" ng-model="user.name">
                <p class="help-block" ng-show="regForm.email.$invalid">Enter a valid email.</p>
            </div>
             
            <div class="form-group" ng-class="{ 'has-error' : regForm.password.$invalid }">
                <label>Contraseña</label>
                <input type="password" name="password" class="form-control" ng-model="user.password" ng-minlength="8">
                <p class="help-block" ng-show="regForm.password.$error.minlength">Min password length is 8 characters.</p>
            </div>
		    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		    	<md-button class="md-raised md-primary">Iniciar sesión</md-button>
		    </section>
    </form>
  </div>
</div>