<div layout="row" flex layout-align="center center">
  <div flex="60" layout="column" layout-align="center center">
    	<img src="assets/images/monitor.png" alt="Monitor" width="100%" />
  </div>
  <div flex="40" layout="column" layout-align="center left">
    <p class='texto-titulo-login'>Te presentamos</p>
    <p class='texto-simm-login'> SIMM</p>
    <p class='texto-cuerpo-login class-alineacion-justificada'>SiMM (Sistema Ministerial Multimedia), es un repositorio de imágenes, es decir, un espacio en el que vas a encontrar un registro fotográfico de los distintos proyectos y políticas del Ministerio de Planificación Federal, Inversión Pública y Servicios. Las imágenes, provistas por el equipo de fotógrafos del MinPlan, estarán disponibles para todo público interesado que acceda al sitio.</p>
  </div>
  
</div>

