<div class="class-vertical-content-3">
<div layout="row" flex layout-align="center center">
  <div layout="column" flex layout-align="center center">
	 <img src="assets/images/busca_foto.png" alt="Iniciar Sesión" width="50%" />    
  </div>
  <div layout="column" flex layout-align="center center">
  	<img src="assets/images/busca_foto.png" alt="Buscar fotos" width="50%" />	  
  </div>
  <div layout="column" flex layout-align="center center">
  	<img src="assets/images/compartir.png" alt="Compartir" width="50%" />	  
  </div>
</div>
<div layout="row" flex layout-align="center center">
  <div layout="column" flex layout-align="center center">
      <p class='texto-titulo-login text-center'>Iniciá sesión</p>
      
  </div>
  <div layout="column" flex layout-align="center center">
      <p class='texto-titulo-login text-center'>Buscá la foto que necesitas</p>
  </div>
  <div layout="column" flex layout-align="center center">
      <p class='texto-titulo-login text-center'>Compartí la foto</p>
  </div>
</div>
<div layout="row" flex layout-align="center center">
  <div layout="column" flex layout-align="center">
   <p class='texto-cuerpo-login text-jutify class-espaciado-10'>Ingresá el usuario y la contraseña que generaste al momento de registrarte y encontrá todas las imágenes que necesitás.
¿Aún no tenés un usuario y contraseña? 
Hacé click en Registrarse, completá los datos, ¡Y listo!</p>
  </div>
  <div layout="column" flex layout-align="center">
    <p class='texto-cuerpo-login text-justify  class-espaciado-10'>El Sistema Ministerial Multimedia cuenta con un proceso de clasificación y etiquetado de imágenes que te permite realizar búsquedas refinadas a través de galerías y fotos individuales, utilizando palabras clave.</p> 
  </div>
  <div layout="column" flex layout-align="center">
    <p class='texto-cuerpo-login text-justify  class-espaciado-10'>El Sistema Ministerial Multimedia te permite compartir la foto a través de las redes sociales más populares como Facebook, Twitter o Pinterest, o bien a través del correo electrónico con tus contactos. </p>
  </div>
</div>
</div>