body {
min-height: 100%;
background-color: #0C99D5;
background-image: linear-gradient(to bottom, rgba(12, 153, 213, 0) 0px, rgba(12, 153, 213, 0) 100px, #0C99D5 450px, #0C99D5), repeating-linear-gradient(118deg, rgba(12, 153, 213, 0) 0px, #00A7E0 550px, rgba(12, 153, 213, 0) 550px, #00A7E0 800px, rgba(12, 153, 213, 0) 800px, #00A7E0 950px);
overflow: hidden;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-sidenav.md-locked-open {
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
}
/*ul[rn-carousel] {
    height: inherit;
    margin: 0 auto;
    width: inherit;
}*/
ul[rn-carousel] {
    min-height: 600px;
    margin: 0 auto;
    width: 90%!important;
}

.carousel5{
  /*background-color: #555;*/
}


.texto-titulo-login{
  color:white;
  font-size: 24px;
  font-family: Arial;
  margin:0px;
}

.texto-simm-login{
  color:white;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial;
  margin:0px;
}

.texto-cuerpo-login{
  color:white;
  font-size: 12px;
  font-family: Arial;
  text-align: justify;
}

.text-center{
  text-align: center;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/* -- icon font -- */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* -- Gral -- */
.center-content{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bold{
  font-weight: bold;
}
.margin0{
  margin: 0px;
}
.margin-left{
  margin-left: 0px;
}
.margin-left li:first-child, .margin-left button:first-child{
  margin-left: 0px;
}
.relative{
  position: relative;
}
.blue-txt{
  color: #00acec !important;
}
.white-txt{
  color: #fff;
}
.grey-txt{
  color: #cecece;
}
a.blue-txt:hover{
  color: #fff !important; 
}
.btn-lightblue{
  text-transform: none;
  box-shadow: none !important;
  border-radius: 0px !important;
  background-color: #00acec !important;
  color: #fff !important;
  height: 3rem;
  margin: 0px;
  line-height: 3rem;
  font-size: 1.2rem;
}
.btn-lightblue:hover, #board #photos .slide-thumb li .close:hover{
  background-color: #0082c5 !important;
}
.btn-darkblue{
  text-transform: none;
  box-shadow: none !important;
  border-radius: 0px !important;
  background-color: #211f37 !important;
  color: #fff !important;
  height: 3rem;
  margin: 0px;
  line-height: 3rem;
  font-size: 1.2rem;
}
.btn-darkblue:hover{
  background-color: #0082c5 !important;
}
.link{
  font-size: 1.2rem;
}
.link.avanzada{
    margin-top: 7px;
}
.link:hover{
  color: #211f37;
}
.btn-lightblue i, .link i{
  vertical-align: middle;
}
.crear-tablero{
  padding: 0px 13px;
  margin-left: 15px;
}
.crear-tablero img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.clear{
  height: 0px;
  clear: both;
}
.mfp-close-btn-in .mfp-close{
  font-size: 3rem;
  color: #fff;
  opacity: 1;
}
/* ==========================================================================
   Stick 
   ========================================================================== */
.stick{
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 998;
  position: fixed;
}
.blank_spacer{
  height: 0px;
  display: none;
  clear: both;
}

/* --  HEADER -- */
header .brand{
  height: 56px;
  background-color: #1d71b8;
}
nav{
  background-color: #211f37;
}

nav ul li:hover, nav ul li.active{
   background-color: rgba(0, 0, 0, 0.8); 
}

nav .brand-logo{
  position: relative;
}
.brand-logo.minplan{
  margin-top: 15px;
  margin-left: 40px;
}
.brand-logo.presidencia{
  margin-top: 5px;
}
.brand-logo.simm img{
  vertical-align: middle;
}
nav .input-field{
  width: 160px;
}
.input-field input[type=search]{
  padding-right: 4rem;
  padding-left: 1rem;
}
.input-field input[type=search]{
  width: calc(100% - 5rem);
  margin: 0px;
}

.input-field input[type=search]+label{
  text-align: right;
  right: 1rem;
}

.container.principal{
  margin-top:50px;
  margin-bottom: 50px
}
.input-field.principal-search{
  margin-top: 0px;
}
.principal-search input[type="search"]{
  background-color: #e6e6e6;
  border: none;
}
.principal-search button{
  color: #fff;
    position: absolute;
    top: 0em;
    right: 0rem;
    font-size: 1rem;
    border: 0px;
    padding: 10px 12px 5px 12px;
    background-color: #00acec;
}
.principal-search.input-field input[type=search]:focus{
  background-color: #d2d0d0;
}

/* --  BOARD -- */
#board{
  background-color: #e6e6e6;
  z-index: 999;
  padding: 20px 0px;
}
#board #photos .bx-wrapper{
  padding-left: 10px;
}
#board #photos .bx-controls-direction{
  position: relative;
}
#board #photos .bx-controls-direction a{
  position: absolute;
  top:-65px;
}
#board #photos .bx-controls-direction a i{
  font-size: 35px;
}
#board #photos .bx-prev{
  left: -30px;
}
#board #photos .bx-next{
  right: -30px;
}
#board #photos .slide-thumb li{
  position: relative;
}
#board #photos .slide-thumb li .close{
  position: absolute;
  top:0;
  right: 0;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  color: #fff;
  background-color: #00acec;
  font-weight: bold;
  display: none;
  cursor: pointer;
}
#board #photos .slide-thumb li:hover .close{
  display: block;
}
.bx-wrapper{
  max-width: 100% !important;
}
#board .container > div{ margin-bottom: 20px;}

.autocomplete-tablero{
  box-shadow: none;
  background-color: #e6e6e6;
  border-bottom: solid 1px #7c7c7c;
}
 
.autocomplete-tablero .md-whiteframe-z1{
  box-shadow: none;
}
.autocomplete-tablero ::-webkit-input-placeholder {
   color: #989898;
}

.autocomplete-tablero :-moz-placeholder { /* Firefox 18- */
   color: #989898; 
}

.autocomplete-tablero ::-moz-placeholder {  /* Firefox 19+ */
   color: #989898;
}

 .autocomplete-tablero :-ms-input-placeholder {  
   color: #989898;
 }
 .search-autocomplete{
  color: #bcbcbc;
  position: absolute;
  bottom: 0px;
  right: 6px;
 }
/* -- FIN BOARD -- */
#search-results{
  margin-bottom: 40px;
}
#search-results .onhover{
  position: absolute;
  top: 0px;
  left: 0;
  background: rgba(0,172,236,0.6);
  width: 100%;
  height: 100%;
  display: none;
}
.board-icon{
  position: absolute;
  bottom: 5px;
  right: 15px;
  color: #fff;
  z-index: 100;
}

.onhover .album-name{
  text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
  position: absolute;
  bottom: 9px;
  left: 15px;
  color: #fff !important;
  margin: 0px;
}
#search-results md-grid-tile:hover .onhover{
  display: block;
  cursor: pointer;
}
#search-results md-grid-tile:hover .onhover md-grid-tile-footer{
  display: block;
}
#search-results .onhover i.ver-mas{
  font-size: 3rem;
}

#search-results .onhover i{
  color: #fff;
}
#search-results .onhover .board-icon i:hover{
  color: #ffe400;
}

#detalle-img {
  position: relative;
  background: #161f32;
  padding: 20px;
  width: 100%;
  margin: 0px auto;

}
#detalle-img img{
    display: block;
  margin: 0 auto;
}
.img-principa-detalle{
  max-height: 90vh;
  max-width: 100%;

}
#search .search-input{
  margin: 1rem 0px;
}
#search .search-input {
  padding: 0px;
}
#search .input-field{
  margin-top: 0px;
  margin-right: 1rem;
}
#search .input-field button{
  width: 3rem;
  height: 3rem;
  padding: 0px;
  margin: 0;
  color: #fff;
  border-radius: 0px;
  line-height: 4rem;
  float: left;
  min-height: 10px;
  min-width: 10px;
  background: #00acec;
}
#search .input-field input[type=search]{
  background-color:#e6e6e6; 
  float: left;
  width: calc(100% - 5rem);
  border-bottom: 0px;
  padding-right: 1rem
}

#filter{
  padding: 10px 0px;
  margin: 20px 0px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  display: none;
}
#filter fieldset{
  border:none;
}
#filter legend{
  margin-bottom: -13px;
}
#filter md-radio-button, #filter md-checkbox{
  margin-left: 0px;
}
#filter md-switch{
  margin: 0px 2rem 0px 0px;
}
#filter md-switch + p{
  color: grey;
}
#filter .politica p{
  margin-top: 0px;
  margin-bottom: 5px;
}
 #filter .tematica p, #filter .fotografo p{
  margin-top: 20px;
  margin-bottom: 5px;
}
/*------------------------
    GRID CSS
--------------------------*/

/* grid angular*/
.gridListdemoDynamicTiles md-icon {
  width: 50%;
  height: 30%; }
.gridListdemoDynamicTiles md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.gridListdemoDynamicTiles md-grid-tile {
  transition: all 300ms ease-out 50ms; }
.gridListdemoDynamicTiles md-grid-tile md-icon {
  padding-bottom: 32px; }
.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
  width: 100%; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; }
/*Fin grid angular*/

.description .labels span{ border-right: solid 1px #ccc; padding: 0 3px;}
.description .labels span:last-child{ border-right: none;}

.description h2{
  font-size: 1.5em;
  margin: 0px 0px 20px;
  font-weight: bold;
  color: #fff;
}
.description p{
  margin: 8px 0px;
  color: #fff;
}
.description .btn-lightblue{
  min-width: 95%;
  margin-top: 20px;
}
.dropdown-content li > a, .dropdown-content li > span{
  font-size: 1.2rem;
  color: #454545;
  display: block;
  padding: 0.8rem 0.8rem;
}

/* Add to Board*/
.addto-board{
  width: 179px;
  position: absolute;
  bottom: -90px;
  right: -59px;
}
.addto-board md-fab-trigger .md-button{
  margin: 0px;
  padding: 4px;
  min-width: 40px;
  min-height: 40px;
}

.addto-board .md-fab-action-item{
  background: #fff;
  text-align: center;
  color: #000;
}
.addto-board .md-fab-action-item .md-button{
  margin: 0px;
  padding: 6px 9px;
  width: 100%;
}
.addto-board p{
  margin: 0px;
}

/* -- FOOTER -- */
footer{
  width: 100%;
  background: #1b263f;
  padding: 20px 0px;
  
}
footer .container{
  text-align: center;
  display: block;
}
footer .container img{
  max-width: 200px;
}


/*------------------------
    MEDIA QUERY
--------------------------*/

@media only screen and (max-width: 991px){
  nav .brand-logo {
    left: 0;
    -webkit-transform: translateX(0%); */
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  #detalle-img{
    margin:0px;
  }
} 
@media only screen and (min-width: 600px) and (max-width: 991px){

}
@media only screen and (min-width : 992px) {
   #filter .politica p{
      margin-top: 0px;
    }
    #filter .politica, #filter .fotografo{
      padding-top: 0px;
    }
}
/* small */
@media only screen and (max-width: 600px){
  #search .dropdown-filter{
    margin: 10px 0px;
  }
  .brand-logo.presidencia{
    width: 190px;
    margin-top:9px;
  }
  .brand-logo.minplan{
    width: 100px;
    margin-left: 20px;
  }
  #search .input-field{
    margin-right: 0px;
    padding: 0px;
  }
  nav .nav-wrapper i{
    height: 56px;
    line-height: 56px;
  }
  .description h2{
    margin-top: 30px;
  }
  #detalle-img{
    height: auto;
    min-height: 100vh;
    margin: 0px auto;
    padding: 3rem 0px;
  }
 .mfp-container{
  position: fixed;
 } 
}


@media only screen and (min-width : 601px) {

}

/*--------- Login --------------*/
.inputdemoBasicUsage .md-datepicker-button {
  width: 36px; }
.inputdemoBasicUsage .md-datepicker-input-container {
  margin-left: 2px; }
  .inputdemoErrors .inputErrorsApp {
  min-height: 48px; }
  md-input-container.md-default-theme label, 
 md-input-container.md-default-theme .md-placeholder{
    color:grey !important;
}
.class-vertical-content-3{
  padding-top: 10%;
}
.class-maximo-width-50
{
  max-width: 50%;
}
.class-espaciado-10
{
  padding: 10%;
}
/*--------------------------------*/


.class-carousel{
  padding-top: 5%;
}

/*------------- FAQ --------------*/
.dividerdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }
.title-faq{
  color: #00aeef !important;
}
.md-theme-ligth{
  background-color: #fff !important;
  color: #000000 !important;
}
.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 10px; }
.icon-faq{
  border-radius: 0% !important;
  width: 40px !important;
  height: 30px !important;
}
.icon-money-faq{
  border-radius: 0% !important;
  width: 30px !important;
  margin-right: 26px !important;
}
.text-cont{
  margin-bottom: 3% !important;
}
.divider-line{
  border-top-color: #7d7d7d !important;
}
.faq-text{
  color:#000 !important;
  font-family: arial;
}
.faq-title{
  margin-left: 2% !important;
  margin-top: 1% !important;
}
.faq-title span{
  margin-left: 7% !important;
  width: 20%;
  margin-top: 1% !important;
}
/*-------------------------------- 7d7d7d*/

/*-------- Acerca De ------------*/
.text-cuerpo-acerca{
  font-size: 14px;
  padding: 0 7%;
}
.acerca-title{
  
}
/*-------------------------------*/


/*------- Register -----------*/
.input-register{
  padding: 0 5%;;
}
.input-emai-register{
  padding: 0 2.5%;
}
/*----------------------------*/