<div layout="row" layout-sm="column" layout-align="center center" layout-wrap>

  	<div flex = '70'>
  		<div ng-cloak>
		  <md-toolbar class="md-theme-ligth">
		  	<div class="faq-title">
			    <h2 class="md-toolbar-tools">
			    	<div class="md-list-item-inner" >
				    	<img ng-src="assets/images/iconos/faq.png" alt="{{todos[0].who}}" />
				      	<span ><b>Preguntas Frecuentes</b></span>
			      	</div>
			    </h2>
		    </div>
		  </md-toolbar>
		  <md-content>
		    <md-list>
		      <md-list-item class="md-3-line md-long-text" >
		      	<img ng-src="assets/images/iconos/question.png" class="md-avatar" alt="question" />
		        <div class="md-list-item-text text-cont">
		        	<h5 class="title-faq md-title"><b>¿Para qué sirve el SiMM?</b></h5>
		            <p class="faq-text">El Sistema Ministerial Multimedia te permite subir y buscar documentación fotográfica, previamente clasificada, sobre las políticas del MinPlan, eventos, obras o presentaciones para ser utilizadas para ilustrar trabajos que se realicen en distintas Secretarías, Subsecretarías y Unidades Ejecutoras.</p>
		        </div>
		        <md-divider ng-if="!$last" class="divider-line"></md-divider>
		      </md-list-item>
		      <md-list-item class="md-3-line md-long-text">
		      	<img ng-src="assets/images/iconos/money.png" class="md-avatar icon-money-faq" alt="{{todos[0].who}}" />
		        <div class="md-list-item-text text-cont">
		        	<h5 class="title-faq md-title"><b>¿Es gratuito?</b></h5>
		            <p class="faq-text">El uso de SiMM es totalmente gratuito.</p>
		        </div>
		        <md-divider ng-if="!$last" class="divider-line"></md-divider>
		      </md-list-item>
		      <md-list-item class="md-3-line md-long-text">
		      	<img ng-src="assets/images/iconos/people.png" class="md-avatar icon-faq" alt="{{todos[0].who}}" />
		        <div class="md-list-item-text text-cont">
		        	<h5 class="title-faq md-title"><b>¿Quién puede usar SiMM?</b></h5>
		            <p class="faq-text">El SiMM está orientado a Directores, responsables, equipo de prensa y otros.</p>
		        </div>
		        <md-divider ng-if="!$last" class="divider-line"></md-divider>
		      </md-list-item>
		      <md-list-item class="md-3-line md-long-text">
		      	<img ng-src="assets/images/iconos/key.png" class="md-avatar icon-faq" alt="{{todos[0].who}}" />
		        <div class="md-list-item-text text-cont">
		        	<h5 class="title-faq md-title"><b>¿Cómo puedo acceder?</b></h5>
		            <p class="faq-text">Visita <b>simm.minplan.gob.ar</b>, ingresá tu nombre de usuario y contraseña. En caso de aún no poseer uno, podes hacer click en Registrarse y seguir las indicaciones para registrar tu usuario.</p>
		        </div>
		        <md-divider ng-if="!$last" class="divider-line"></md-divider>
		      </md-list-item>
		    </md-list>
		  </md-content>
		</div>
	</div>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</div>
